<li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon fa fa-font"></i>
        {{ 'nav.texts'|trans }}
    </a>
    <ul class="nav-dropdown-items">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon fa fa-list"></i>
                {{ 'nav.texts.list'|trans }}
            </a>
        </li>
    </ul>
</li>