<!DOCTYPE html>
<html lang="cs">
    {% include "head.html.twig" %}
    <body class="container pt-5 background-color min-vh-100">
        {% include "content.html.twig" %}
        <footer class="page-footer fixed-bottom font-small main-color">
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://www.execom.cz"> David Jungman | EXE-COM</a>
        </div>
    </footer>
    {% include "scripts.html.twig" %}
    </body>
</html>
